@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 29rem;
    padding: 0.75rem;
    border-radius: 5%;
    border-bottom-right-radius: 30%;
    background-color: white;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.submit {
    display: flex;
    align-items: center;
    height: 4vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.submit hr {
    width: 100%;
    border: 1px solid lightgrey;
}

.submit button{
    display: flex;
    justify-self: center;
    align-self: center;
    border: 0;
    border-radius: 50%;
    padding: 0;
    background-size: cover;
}

button svg {
    background-color: #874ffb;
    border-radius: 50%;
    padding: 0.75rem;
    height: 4vh;
    width: 4.5vh;
}