input {
    width: 5rem;
    height: 2rem;
    font-size: 1.15rem;
    font-weight: 1000;
    padding-left: .4rem;
    border: 0.01rem solid lightgrey;
    border-radius: 10%;
}

label {
    font-size: .5rem;
    font-weight: 1000;
    letter-spacing: 0.1rem;
        color: grey;
}

.inputDate {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.10rem;
}

form {
    display: flex;
}

.errorText {
    color: red;
}

.errorBorder {
    border-color: red;
}

p {
    font-size: 0.5rem;
    margin: 0;
}